# This file defines who should review and approve changes in  this repo.

# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.

# Notes :
# - Order is very important !!! 
# - The last priority matching pattern.

# See https://help.github.com/articles/about-codeowners/

  
  *             @teste-trade/a 
   
  *             @teste-trade/b 
   
  *             @teste-trade/c 
   
  *             @teste-trade/d 
   
  *             @teste-trade/e 
   
  *             @teste-trade/b 
   
  *             @teste-trade/b 
   
  *             @teste-trade/ 
                
/.github/*    codeowner-reviewers
/tools/*      all-admins